/* CSS Code, der für alle Web Pages gleich ist */

.webpage {
  display: flex;
  flex-direction: column;
  /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
  padding: 0;
  margin: 0;
}


body {
     margin: 0;
     padding: 0;
     display: flex;
    flex-direction: column;
    /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
     justify-content: center;
     align-items: center;
     height: 100vh;
   }


.logo{
  width: 8%;
  height: auto;
  margin: 5px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li:first-child {
  margin-left: 0;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: bold; 
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.titel{
 font-family: 'Roboto', sans-serif;
  font-size: 3em; 
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 900;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.header {
  background-color: #EA8500;
  top: 0;
  height: 150px;
  width: 100%;
  padding: 20px;

}

.content {
  flex-grow: 1;
  background-color: #ffffff;

}

 .footer {
  width: 100%;
  background-color: #ea8500;
  padding: 20px;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  display: flex;
  align-items: center; 
  margin: 0 10px; 
}

.footer-icons img {
  width: 40px; 
  height: 40px; 
}
