/* CSS Code, der für alle Web Pages gleich ist */

.webpage {
     margin: 0;
     padding: 0;
     display: flex;
    flex-direction: column;
    /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
     align-items: center;
     height: 100vh;
     width:100%;
}

.nav-link-home {
     color:white;
}

.nav-link-promotion {
     color:white;
}

.nav-link-game {
     color:white;
}

 {
     margin: 0;
     padding: 0;
     display: flex;
    flex-direction: column;
    /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
     justify-content: center;
     align-items: center;
     height: 100vh;
   }


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EA8500;
  height: 150px;
  width: 100vw;
  padding: 20px;
  font-family: Roboto, sans-serif;
}

.logo {
  width: 10%;
  margin-left: 90px;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 40px;
  
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  font-weight: normal;
}


h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.titel{
 font-family: 'Roboto', sans-serif;
  font-size: 3em; 
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 900;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}


.content {
  flex-grow: 1;
  background-color: #ffffff;
  max-width: 70%;
}

 
.footer-basic {
  width: 100%;
  padding:40px 0;
  background-color:#ea8500;
  color:#FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}


.footer-basic ul a:hover {
  opacity:1;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons a {
  display: flex;
  align-items: center; 
  margin:0 10px; 

}

.footer-icons img {
    width: 40px; 
    height: 40px; 
}


.copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#FFFFFF;
  margin-bottom:0;
}


