/* CSS Code, der für alle Web Pages gleich ist */

.webpage {
     margin: 0;
     padding: 0;
     display: flex;
    flex-direction: column;
    /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
     align-items: center;
     height: 100vh;
     width:100%;
}


 {
     margin: 0;
     padding: 0;
     display: flex;
    flex-direction: column;
    /* min-height: bewirkt, dass der Footer zuunterst ist. */
  min-height: 100vh;
  /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
     justify-content: center;
     align-items: center;
     height: 100vh;
   }


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EA8500;
  height: 150px;
  padding: 20px;
}

.logo {
  width: 10%;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 30px;
  margin-left: 30px;
}

nav ul li:first-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  font-weight: normal;
}


h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.titel{
 font-family: 'Roboto', sans-serif;
  font-size: 3em; 
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 900;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}


.content {
  flex-grow: 1;
  background-color: #ffffff;
  max-width: 70%;
}

 .footer {
  width: 100%;
  background-color: #ea8500;
  padding: 20px;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  display: flex;
  align-items: center; 
  margin: 0 10px; 
}

.footer-icons img {
  width: 40px; 
  height: 40px; 
}
