/* CSS Code, den es für die Promotion Page braucht */

/* Hilfsklasse */
.webpage-game {
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
    /* min-height: bewirkt, dass der Footer zuunterst ist. */
    min-height: 100vh;
    /* padding, margin: 0: bewirkt, dass es mit 100vh zuunterist */
     
     height: 100vh;
     width:100%;
     background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 45%, rgba(234,133,0,1) 100%);}

.hidden {
    display: none;
    font-family: "Termina", sans-serif;

}

/* Spiel-Container mit Beschreibung und Game-Over Text */
.content-game {
    min-height: 600px;
}

#game-container {
    max-width: 600px;
    margin: auto;
}

#game {
    position: relative;
    height: 300px;
    cursor: pointer;
}

.game-info {
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: "Termina", sans-serif;
    text-align: center;
}

#game-end {
    margin-top: 12px;
    margin-bottom: 12px;
}


/* Elemente im Spiel */
#game-background {
    position: absolute;
    width: 600px;
    height: 300px;
    background-image: url("../images/background.png");
    background-size: cover;
}

.bg-animation {
    animation: moveBg 10.33s linear infinite;
}

@keyframes moveBg {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -600px 0;
    }
}

#game-dino {
    height: 75px;
    width: 75px;
    top: 225px;
    position: relative;
    background-image: url("../images/dino.png");
    background-size: cover;
}

.dino-dies {
    background-color: red;
}

#game-rock {
    width: 50px;
    height: 50px;
    position: relative;
    top: 175px;
    left: 550px;
    background-image: url("../images/rock.png");
    background-size: cover;
}

.rock-animation {
    animation: rock 1.33s infinite;
}

@keyframes rock {
    0% {
        left: 550px;
    }

    100% {
        left: -50px;
    }
}

.jump-animation {
    animation: jump 0.5s;
}

@keyframes jump {
    0% {
        top: 225px;
    }

    50% {
        top: 75px;
    }

    75% {
        top: 75px;
    }

    100% {
        top: 225px;
    }
}

#game-start {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.7;
    background: black
}

.startScreenText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-family: "Termina", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#game-score {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    font-family: "Termina", sans-serif;
    font-weight: bold;
    color: white;
}

#game-winner{
    font-family: "Termina", sans-serif;
    text-align: center;
    margin-top: 5%;
}






@media only screen and (max-width: 700px) {
 
    .game-info {
        font-size: 0.7em;
        padding-right: 5%;
        padding-left: 5%;
    }

    .startScreenText {
     font-size: 1em;
}

}
