

.inhalt {

      background-color: #f2f2f2;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }


.column {
      flex: 1;
      padding: 10px;
    }

.column img {
      width: 100%;
      height: auto;
    }

.row {
      display: flex;
      margin-bottom: 1%;
    }

.hauptbild{
      width: 100vw;
      ]
      
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.teaser {
  display: flex;
  margin: 5%;
}

.teaser .column {
  flex: 1;
  padding: 10px;
}

.teaser .column p {
  margin-right: 20px;
}

.teaser .column .button {
  margin-top: 10px;
}
   
.ueber_uns{
      margin-top: 5%;
      margin-bottom: 5%;
}


  .product_pic{
      width: 45%;
      height: auto;
  }


