.header {
  background-color: #EA8500;
  top: 0;
  height: 150px;
  widht: 100%;
  padding: 20px;
}


h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}  

.container {
  display: flex;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.text-column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.gewinnspiel-image {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .text-column {
    flex: 2;
    width: 50%;
  }

  .gewinnspiel-image {
    flex: 2;
    width: 50%;
  }
}
